@import "tailwindcss";
@import "tw-animate-css";

/* theme.css */

:root {
  --text-primary-black: black;
  --text-primary-white: black;
  --bg-primary-light: white;
  --bg-primary-dark: black;
  /* Default fallback values */
}

.dark {
  background-color: var(--bg-primary-dark);
  color: var(--text-primary-white);
}

.light {
  background-color: var(--bg-primary-light);
  color: var(--text-primary-black);
}

[data-theme='light'] {
  --text-primary: black;
  --bg-primary: white;
  --bg-navbar: rgb(104, 104, 255);
}

[data-theme='dark'] {
  --text-primary: white;
  --bg-primary: black;
  --bg-navbar: rgb(29, 29, 58);
}

[data-theme='solarized'] {
  --text-primary: #657b83;
  --bg-primary: #fdf6e3;
  --bg-navbar: #eee8d5;
}

[data-theme='blue'] {
  --text-primary: white;
  --bg-primary: #001f3f;
  --bg-navbar: #0074D9;
}